<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="location_map" style="height: 480px;"></div>

    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('location_map'));

        var markers = []

        <% @photos.where.not(:location_latitude => nil).each do |photo| %>
          var myLatLng = {lat: <%= photo.location_latitude %>, lng: <%= photo.location_longitude %>};

          var infowindow = new google.maps.InfoWindow({
            content: '<%= photo.location_formatted_address %>'
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: '<%= photo.location_formatted_address %>'
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

          markers.push(marker);
        <% end %>

        var bounds = new google.maps.LatLngBounds();
        for (var i = 0; i < markers.length; i++) {
         bounds.extend(markers[i].getPosition());
        }

        map.fitBounds(bounds);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Caption</th>
        <th>Location</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>

      <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.image %></td>
        <td><%= photo.caption %></td>
        <td><%= photo.location %></td>
        <td>
          <a href="/users/<%= photo.owner_id %>">
            <%= photo.owner.username %>
          </a>
        </td>
        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
